<%= form_for(@borrowing) do |f| %>
  <% if @borrowing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@borrowing.errors.count, "error") %> prohibited this borrowing from being saved:</h2>

      <ul>
      <% @borrowing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br>
    <%= f.collection_select(:member_id, Member.all, :id, :last_name, prompt: "choisissez un membre") %>
  </div>
  <div class="field">
    <%= f.label :album_id %><br>
    <%= f.collection_select(:album_id ,Album.all, :id, :title, prompt: "choisissez un album" ) %>
  </div>
  <div class="field">
    <%= f.label :back_date %><br>
    <%= f.date_select :back_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
