<h1 class="centre">Listing borrowings</h1>

<table class="centre">
  <thead>
    <tr>
      <th>Member</th>
      <th>Album</th>
      <th>Borrowing date</th>
      <th>Back date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrowings.each do |borrowing| %>
      <tr>
        <td><%= borrowing.member_id %></td>
        <td><%= borrowing.album_id %></td>
        <td><%= borrowing.borrowing_date %></td>
        <td><%= borrowing.back_date %></td>
        <td><%= link_to 'Show', borrowing %></td>
        <td><%= link_to 'Edit', edit_borrowing_path(borrowing) %></td>
        <td><%= link_to 'Destroy', borrowing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="centre">
<%= link_to 'New Borrowing', new_borrowing_path %>
</p>
