<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @borrowing.member_id %>
</p>

<p>
  <strong>Album:</strong>
  <%= @borrowing.album_id %>
</p>

<p>
  <strong>Borrowing date:</strong>
  <%= @borrowing.borrowing_date %>
</p>

<p>
  <strong>Back date:</strong>
  <%= @borrowing.back_date %>
</p>

<%= link_to 'Edit', edit_borrowing_path(@borrowing) %> |
<%= link_to 'Back', borrowings_path %>
