<h1 class="centre">Listing albums</h1>

<table class="centre">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release date</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.release_date %></td>
        <td><%= album.artist_id %></td>
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="centre">
<%= link_to 'New Album', new_album_path %>
<p>
