<!DOCTYPE html>
<html>
<head>
  <title>ExamQuentinJacquiet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul id="menu">
  <li><a href="/albums">Albums</a></li>
  <li><a href="/artists">Artistes</a></li>
  <li><a href="/members">Membres</a></li>
  <li><a href="/borrowings">Reservation</a></li>
</ul>


<%= yield %>

</body>
</html>
